@import url('https://fonts.cdnfonts.com/css/gistesy');

html {
  font-size: 85%;
}
body {
  font-family: 'Avenir','メイリオ', 'Open Sans', sans-serif;
  color: #767a6c;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  text-align: center;
}
h1{
  font-weight: lighter;
  letter-spacing: 0.6rem;
}
h2{
  font-weight: lighter;
  border-bottom: 1px solid #767a6c;
  max-width: 200px;
  margin: 30px auto;
  line-height: 2rem;
}
h2 a:hover{
  opacity: 1;
}
p{
  line-height: 2rem;
  margin: 20px;
}
a{
  color: #767a6c;
  padding: 15px;
  text-decoration: none;
}
a:hover{
  opacity: 0.5;
}

header{
  height: 60px;
  position: fixed;
  top: 0;
  background: #F4C7AB;
  width: 100%;
  z-index: -1;
}
nav ul{
  display: flex;
}
li{
  margin: 10px;
  list-style: none;
}

.container{
  background: #FFF5EB;
  padding-bottom: 30px;
}
main{
  margin-top: 60px;
  height: 600px;
}
.top{
  height: 300px;
  background: #DEEDF0;
  position: relative;
}
.icon{
  max-width: 200px;
  width: 40%;
  height: auto;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  right: 0;
  left: 0;
  margin: auto;
}
.place{
  font-size: 1.1rem;
}
.profile{
  padding-top: 100px;
}
.social-icons{
  margin: 30px;
}
section{
  margin: 100px 0;
}
.small{
  font-size: 0.5rem;
  color: rgba(99, 99, 99, 0.884);
  font-style: italic;
}

.to_portfolio{
  position: relative;
  padding: 100px 0 50px 0;
}
.to_portfolio p{
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}
.scrolldown4{
  position:absolute;
  right: 0;
  left: 0;
  margin: auto;
  animation: arrowmove 2s ease-in-out infinite;
}

@keyframes arrowmove{
    0%{top:30px;}
    50%{top:45px;}
    100%{top:30px;}
}

.portfolio_area{
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width:1025px){
  .portfolio_area{
    display: flex;
  }
  .ontrips, .description{
    width: 50%;
  }
}
.ontrips img{
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
	top: 0;
  transition: all .5s;
}
.ontrips img:hover{
  top: -3px;
	box-shadow: 0 2px 3px #767a6c48;
}
.ontrips a{
  opacity: 1;
  padding: 0;
}
h3{
  font-weight: lighter;
  padding-top: 5%;
  font-family: 'Gistesy', sans-serif;
  font-size: 3rem;
  margin: 3%;
}

.youtube a{
  padding: 0;
}
@media screen and (max-width:560px){
  .youtube iframe{
    width: 90%;
    margin: 0 auto;
  }
}

.twitter-follow-button{
  margin-top: 50px;
  opacity: 0.6;
}

footer{
  position: absolute;
  bottom: 0;
  height: 50px;
  background: #F4C7AB;
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 0.6rem;
}
.hide{
  display: none;
}